<h1>Rails Blog</h1>
<p>Home Page</p>
<ul>
    <li><a href="./">Users</a></li>
    <li><a href="./users/id">User's Details</a></li>
    <li><a href="./users/id/posts">Posts</a></li>
    <li><a href="./posts/id">Post's Details</a></li>
</ul>