<h1>Rails Blog</h1>
<p>Home Page</p>
<ul>
    <li><a href="./">Users</a></li>
    <li><a href="./users/1">User's Details</a></li>
    <li><a href="./users/1/posts">Posts</a></li>
    <li><a href="./users/1/posts/1">Post's Details</a></li>
</ul>