<h1>Rails Blog</h1>
<ul>
    <li><a href="./users">Users</a></li>
    <li><a href="./users/id">User's Details</a></li>
    <li><a href="./users/id/posts">Posts</a></li>
    <li><a href="./users/id/posts/id">Post's Details</a></li>
</ul>