<h1>Rails Blog</h1>
<ul>
    <li><a href="./users">Users</a></li>
    <li><a href="./users/1">User's Details</a></li>
    <li><a href="./users/1/posts">Posts</a></li>
    <li><a href="./users/1/posts/posts/1">Post's Details</a></li>
</ul>